@model BookISBN.Models.Image

@{
	ViewBag.Title = "Search";
	Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div><label>@Html.DisplayFor(model => model.BookName)</label></div>
<div><label>@Html.DisplayFor(model => model.ISBN)</label></div>
